

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter1 {
  display: table-cell;
  vertical-align: middle;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(../img/tedx-header.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
  padding: 5%;
}

#speakers {

  /*background: url(../img/white-top.png) no-repeat top #f4f4f4;*/
  background: #f4f4f4;
  /*background-size: 120% auto;*/
  padding: 5%;
  margin: 0 auto;
}
#speakers .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../img/iiitd1.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .container-fluid {
    background: url(../img/black.png) no-repeat bottom;
    background-size: 120% auto;
    padding-bottom: 100px; }
#information .panel {
  background: rgba(0, 0, 0, 0.5);
  color: #aaa;
  font-size: 24px;
}
#schedule{

  text-align: center;
  padding: 4%;
  color: #ccc;
  background: url(../img/black-bottom.png) no-repeat bottom #222222;
  background-size: 120% auto;
  padding-bottom: 100px; 
}

#team{
	text-align: center;
  background-color: #111;
  padding: 4%;
  color: #ccc;
}
#google_map {
  height: 500px;
}

footer {
  /*padding: 20px 0;*/
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
#home img{
	max-width: 50%;
	min-width: 30%;
}

#home{
	padding-left: 2%;
	color: white;
}

.btm-home {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0px;
  height: 10%;
  color: #e62b1e;
  width: 100%;
  margin-bottom: 0;
  background: url(../img/white.png) top no-repeat;
  background-size: 120% 100%;
  overflow: hidden;
  z-index: 6; 
}
.arrowicon{
	font-size: x-large;
	position: absolute;
	bottom: -5px;
	right: 0;
	color: black !important;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
.logo{
	max-width: 500px;
}
.logo-tedx{
	max-width: 400px;
}

.info{
	/*padding: 40px;*/
}
.lead{
	font-size: 18px;
}
.team-member{
	height:250px;
  max-width: 250px;
  min-width: 230px;
	margin-left: auto;
	margin-right: auto;
}
#team{
	text-align: center;
}
@media (max-width:1000px){
  .team-member{
    height:200px;
    max-width: 200px;
    min-width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:300px){
  .team-member{
    height:150px;
    max-width: 150px;
    min-width: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width:200px){
  .team-member{
    height:100px;
    max-width: 100px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}