    <div class="col-md-10 col-md-offset-1">
    <h3>Users</h3>
      <table class="table table-striped usertable">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
